name: Sync Branch

on:
  push:
    branches:
      - main
permission: content:write
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Force sync siteB with main
        run: |
          git push origin main:main-site-B --force
