name: Sync Branch

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Force sync siteA and siteB with main
        run: |
          git push origin main:main-site-A --force && git push origin main:main-site-B --force
      - name Run Dockerfile
        run: |
          docker build -t node_builder:1.0.0 .
      - name Dialog Message
        run: |
          echo "Docker build Success!"
