name: Sync Branch on Push

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all branch
        run: git fetch --all
      - name: Check branch
        run: git branch --all
